In [6]:
import pandas as pd
items = pd.read_parquet('clean_items.parquet.gzip')
items = items[['item_id', 'playtime_forever']]
items.to_parquet('clean_reviews_genreFunction.parquet.gzip', compression='gzip')
items

      item_id  playtime_forever
0          10                 6
0          20                 0
0          30                 7
0          40                 0
0          50                 0
...       ...               ...
88308  346330                 0
88308  373330                 0
88308  388490                 3
88308  521570                 4
88308  519140                 3

[5153209 rows x 2 columns]